Package: net.angelxwind.karenlocalizer
Name: KarenLocalizer
Depends: 
Version: 1.0.2
Architecture: iphoneos-arm
Description: A development library that allows developers to add localization support to their tweaks.
Homepage: https://cydia.angelxwind.net/
Depiction: https://cydia.angelxwind.net/?page/net.angelxwind.karenlocalizer
Maintainer: Karen／明美 (angelXwind) <angelXwind@angelxwind.net>
Author: Karen／明美 (angelXwind) <angelXwind@angelxwind.net>
Section: Development
