Package: net.angelxwind.karenlocalizer
Name: KarenLocalizer
Depends: 
Version: 1.0
Architecture: iphoneos-arm
Description: A library that allows developers to add localization support to their tweaks.
Depiction: https://cydia.angelxwind.net/?page/net.angelxwind.karenlocalizer
Maintainer: Karen Tsai (angelXwind) <angelXwind@angelxwind.net>
Author: Karen Tsai (angelXwind) <angelXwind@angelxwind.net>
Section: Tweaks
