Package: net.angelxwind.karenlocalizer
Name: KarenLocalizer
Depends: 
Version: 1.0.5
Architecture: iphoneos-arm
Description: A development library that allows developers to add localization support to their tweaks.
Homepage: https://cydia.akemi.ai/
Depiction: https://cydia.akemi.ai/?page/net.angelxwind.karenlocalizer
Maintainer: Karen/あけみ <karen@akemi.ai>
Author: Karen/あけみ <karen@akemi.ai>
Section: Development
